.toc_container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    max-height: 100vh;
    overflow: scroll;
    background-color: bisque;
}
.toc_container h1 {
    font-size: 1.5rem;
}
.toc_container ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.toc_container ul li, .toc_container ul li p {
    padding: 0;
    margin: 0;
}
.toc_container ul li.submenu_H2 {
    margin-left: 1rem;
}
.toc_container ul li.submenu_H3 {
    margin-left: 1.3rem;
}
.toc_container ul li.submenu_H4 {
    margin-left: 1.6rem;
}
.toc_container ul li.submenu_H5 {
    margin-left: 1.9rem;
}
.toc_container ul li.submenu_H6 {
    margin-left: 2.2rem;
}